/* AddInterview.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1000; /* Ensure the modal is on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
 /* position: relative; /* Set position to relative to contain pseudo-element */
  width: 80%; /* Set the width of the modal to 80% of its container */
  max-width: 550px; /* Set a maximum width to avoid stretching on larger screens */
  height: auto; /* Allow the height to adjust based on content */
  padding: 20px; /* Add padding inside the modal content */
  margin: 20px auto; /* Center the modal horizontally with some margin from the top and bottom */
  background-color: #fff; /* White background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

/* Add the logo watermark using ::after pseudo-element */


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #555;
}

.form-group {
  margin-bottom: 20px; /* Fixed typo */
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Add border for textarea */
  border-radius: 5px; /* Rounded corners */
}

button[type='submit'] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #00b312;
}

/* Increase the width of the select element */
select#submissionType {
  width: 100%; /* Set the width to 100% of its container */
  padding: 10px; /* Add padding to make the dropdown more readable */
  border: 1px solid #28049c; /* Add border */
  border-radius: 5px; /* Rounded corners */
}

/* AddInterview.css */

textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc; /* Add border for textarea */
  border-radius: 5px; /* Rounded corners */
  resize: none; /* Allow vertical resizing */
  min-height: 100px; /* Set a minimum height */
  max-height: 200px; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrollbar if needed */
}

.submit-button {
  width: 36vw; /* Set the width to 100% of the viewport width */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 0; /* Adjust padding */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #00b312;
}
