/* EmployeeOptions.css */

/* Basic styling for the options container */
.options-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Adjusted gap for better spacing */
  width: 100%; /* Ensure it takes up the full width */
}

/* Styling for each option */
.option {
  width: calc(33.33% - 30px); /* Each option occupies 33.33% of the container width with a 15px gap on each side */
  height: 150px; /* Set a fixed height for the options */
  background-color: #fff; /* White background color */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px; /* Adjusted margin for better spacing */
}

.option:hover {
  background-color: #518cf8; /* Yellow background color on hover */
  
}

/* Adjustments for better spacing if needed */
@media (max-width: 768px) {
  .option {
    width: calc(50% - 30px); /* Each option occupies 50% of the container width on smaller screens */
  }
}

/* Additional adjustment for smaller screens */
@media (max-width: 480px) {
  .option {
    width: calc(100% - 30px); /* Each option occupies 100% of the container width on even smaller screens */
  }
}
