/* EmployeeHome.css */
/* Basic styling for the employee home container */
.employee-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  width: 100%;
  max-width: 100%; /* Ensure it takes the full width */
}

/* Styling for Header component */
.header-container {
  margin-bottom: 20px;
}

/* Styling for the main content container */
.main-content-container {
  display: flex;
  width: 100%;
}

/* Styling for EmployeeProfile */
.employee-profile-container {
  flex: 0 0 20%;
  margin-right: 20px;
}

/* Styling for EmployeeOptions */
.employee-options-container {
  flex: 1;
  width: 80%; /* Allocate 80% of the screen width */
}
